.category-container {
  text-align: right;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.category-container h1 {
  margin-bottom: 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

.navbar-container .MuiTextField-root {
  flex: none;
  width: 150px;
  margin-left: 10px;
}

.navbar-container .MuiIconButton-root {
  color: #555;
}

.navbar-container .MuiBadge-root {
  margin-right: 10px;
}